{% extends "layout.html" %}
{% block content %}

<div class="container">
<!--    여기 디비 검색 값-->
    {% if search_arg|length > 0 %}
    <div class="row" style="border-bottom: 2px solid black;">
        {% for i in range(search_arg|length) %}
        <form class="col-lg-2" action="/vod" method="post">
            <div class="bs-component">
                <div class="card mb-3" style="max-width: 10rem;">
                      <div class="card-header">{{search_arg[i][1]}}</div>
                      <input type="hidden" name="test" value="{{search_arg[i][0]}}">
                      <input type="image" style="height: 100%; width: 100%; display: block;" src="../static/cover/{{search_arg[i][3]}}">
                </div>
            </div>
        </form>
        {% endfor %}
    </div>
    {% else %}
    <font size="10rem" style="text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3)"> # {{search_origin}} </font>
    {% endif %}

    <div class="row">
        {% for i in range(data_list|length) %}
          <div class="col-lg-4">
              <div class="bs-component">
                  <div style="max-width: 20rem;">
                    <div class="card-body">
                      {% for j in range(tag_list[i]|length) %}
                        <a href="/info?search={{tag_list[i][j][0]}}" class="card-link"># {{tag_list[i][j][0]}}</a>
                      {% endfor %}
                    </div>
                    조회수 : {{data_list[i][3]}}
                      <form action="/vod" method="post">
                        <input type="hidden" name="test" value="{{data_list[i][6]}}">
                        <input type="image" style="height: 100%; width: 100%; display: block;" src="../static/thumbnails/{{data_list[i][1]}}">
                      </form>
                  </div>
              </div>
          </div>
      {% endfor %}
    </div>
</div>
{% endblock %}