{% extends "layout.html" %}
{% block scripts %}

<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script type="text/javascript">
    function movieDialog(str) {
			$("#movie_src").attr("src", $(str).attr("value"));
			$("#a_video").load();
			document.getElementById("a_video").play();
		};
	</script>



<div class="container">
    <h1><br></h1>
        <br>

    <div class="row">
        <div class="col-lg-12">
            <h1>{{vod_id[0][1]}}</h1>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="bs-component">
                <div class="card mb-3" style="max-width: 50rem;">

                    <video style="height: 100%; width: 100%; display: block;" id="a_video" controls>
		                <source id="movie_src" src="../static/vod/{{vod_id[0][2]}}" >
	                </video>

                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="bs-component">
                <div style="max-width: 20rem;">
                    {% for i in range(data_list|length) %}
                        <div class="card-body">
                          {% for j in range(tag_list[i]|length) %}
                            <a href="/info?search={{tag_list[i][j][0]}}" class="card-link"># {{tag_list[i][j][0]}}</a>
                          {% endfor %}
                        </div>
                        <input type="image" onClick="movieDialog(this)" href="#" value="../static/vod/{{vod_id[0][2]}}#t={{data_list[i][4].seconds}},{{data_list[i][5].seconds}}"
                               style="height: 100%; width: 100%; display: block;" src="../static/thumbnails/{{data_list[i][1]}}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}